<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="xml:Schema" value="https://raw.githubusercontent.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/master/TrustFrameworkPolicy_0.3.0.0.xsd"/>
    <add key="aad:ClientId" value="32dadd7b-359e-4c02-9a77-f9b89fcf3a4d" />  
  </appSettings>
</configuration>